h3{
  text-align: center;
}
section{

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92%;  
  
}

form{

  font-family: Arial, Helvetica, sans-serif;
}

form div {

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input{

  outline: unset;
  padding: 3px;
  width: 200px;
  border: 1px solid ;
  border-radius: 5px;

}

#buton{
  color: #ffffff;
  background-color: var(--light-green);
  cursor: pointer;
  border: 1px solid rgb(153, 153, 153);
}

h1{
  margin-top: 5px;
}

p{
  margin: 5px;
}

#formu{
  margin-top: 30px;
}

