.formulario{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px;
}

label {
    text-align: right; 
  }
  
  input, textarea, select {
    text-align: left; 
  }

p{

  margin: 10px 0px;
}