/* BANNER */
#banner{
    height: 40vw;
    background-image: url('../assets/img/bg-banner-index.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    
}
#banner img{
    width: 28vw;
    flex-shrink: 1;
 


}
#banner h1{
    font-size: 10vw;
    flex-shrink: 1;
    color: var(--light-green);

}
#banner div{
   height: 100%;
   padding: auto;

}