/* BANNER */
#banner{
    height: 40vw;
    background-image: url('../assets/img/bg-banner-index.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    
}
#banner img{
    width: 28vw;
    flex-shrink: 1;
 


}
#banner h1{
    font-size: 10vw;
    flex-shrink: 1;
    color: var(--light-green);

}
#banner div{
   height: 100%;
   padding: auto;

}
.pacotes{
    display: flex;
    justify-content: space-between;
}
/* MAIN - PACOTES DE SERVIÇOS */
main{
    height: 37vw;
}
.card-pacotes{
    background-color: var(--light-green);
    height: 90%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0 0 0;
    border-radius: 1vw;
    overflow: hidden;
}
.card-pacotes h2{
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    color: var(--light-green);
    background-color: var(--black);
    border-radius: 5vw;

}
.card-pacotes a{
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    text-decoration: none;
    color: var(--light-green);

}