/* BANNER */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#banner{
    height: 40vw;
    background-image: url('../assets/img/bg-banner-index.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    
}
#banner img{
    width: 28vw;
    flex-shrink: 1;
 


}
#banner h1{
    font-size: 10vw;
    flex-shrink: 1;
    color: var(--light-green);

}
#banner div{
   height: 100%;
   padding: auto;

}
.pacotes{
    display: flex;
    justify-content: space-between;
}
/* MAIN - PACOTES DE SERVIÇOS */
main{
    height: 37vw;
    max-width: 100vw;
}
.card-pacotes{
    background-color: var(--light-green);
    height: 90%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0 0 0;
    border-radius: 1vw;
    overflow: hidden;
}
.card-pacotes h2{
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    color: var(--light-green);
    background-color: var(--black);
    border-radius: 5vw;
    font-size: 2vw;
    cursor: default;


}
.card-pacotes ul{

    width: 90%;


}
.card-pacotes ul li{
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 0.5vw;
    cursor: default;
    flex-wrap: wrap;



}
.card-pacotes a{
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    text-decoration: none;
    color: var(--light-green);
    transform: 0.5s;
    font-size: 1.5vw;
}
.card-pacotes a:hover{
    background-color: var(--dark-green);
   

}

/* Verifica domínio */
#verifica-dominio-section{
    max-width: 100vw;
   
}
#verifica-dominio-container{
    height: 25vw;
    width: 95vw;
    margin: auto;
    background-color: var(--light-green);
    border-radius: 3vw;
}
#verifica-dominio-container input{
    width: 30%;
    height: 2.5vw;
    font-size: 2vw;
    border-radius: 0.5vw;
    text-align: center;
}
#verifica-dominio-container button{
    width: 25%;
    height: 3vw;
    color: var(--light-green);
    background-color: var(--black);
    border-radius: 1.5vw;
    transform: 0.5s;
    cursor: pointer;
    font-size: 1.8vw;
}
#verifica-dominio-container button:hover{
    background-color: var(--dark-green);
   

}
#verifica-dominio-container h2{
    font-size: 4vw;
}

/* Benefícios */

#beneficios-container{
  
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4vw;
    padding: 4vw 0;
    max-width: 100vw;
}
#beneficios-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 32vw;
    height: 18vw;
    box-shadow: 0 0 1vw 0.6vw var(--light-green);
    padding: 2vw 1vw;
}
#beneficios-container div h2{
    font-size: 2.5vw;
}
#beneficios-container div p{
    font-size: 1.5vw;
    text-align: center;
}
#beneficios-container div i{
  font-size: 4vw;
  color: var(--light-green);
}
/*  RESPONSIVIDADE PARA CELULAR */

@media only screen and (max-width: 467px) {
    button{
        outline: none;
        border: none;
    }
    /* banner */
    #banner{
      background-size:contain;
      background-position: top;

    }
     /*Main*/
     main{
        height: auto;
        flex-wrap: wrap;

     }
     .card-pacotes{
    background-color: var(--light-green);
    height: 95vw;
    width: 88vw;
    margin: 6vw 0;
 
}  .card-pacotes:hover{
    
}
.card-pacotes h2{
    height: 30vw;
   
    width: 30vw;
 
    border-radius: 30vw;
    font-size: 4vw;
   


}
.card-pacotes ul li{
    font-size: 3.2vw;
   



}
.card-pacotes a{
   
    width: 100%;
    height: 10vw;
    font-size: 2.5vw;
}
.card-pacotes a:hover{
 

}
/* BENEFÍCIOS */

#beneficios-container div{
  
    width: 88vw;
    height: 35vw;
    
}
#beneficios-container div h2{
    font-size: 5vw;
}
#beneficios-container div p{
    font-size: 3vw;
    text-align: center;
}
#beneficios-container div i{
  font-size: 8vw;
  color: var(--light-green);
}

}