
h3{
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.0rem;
}

article {
    padding-top: 10px; 
    padding-left: 20px;
    font-size: 1.2rem;
    text-align: justify;
}

article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px; 
    max-height: 300px;
}

p{
   padding-top: 10px; 
}


#list-news{
    padding-top: 10px;
    padding-left: 23px;
    font-style: italic;
}

h2{
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.flex-row-space-around{
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.news-card {
   width: 20%;
   padding-top: 10px;
   border: 2px solid #295546;
   border-radius: 10px;
   margin-bottom: 20px;
   margin-left: 10px;
}

.img-card-container {
   width: 98%;
   height: 200px;
   padding-bottom: 10px;
   padding-left:4px;
 }

.img-card-container img {
   width: 100%; 
   height: 100%;
   object-fit: cover; 
   border: 2px solid #295546;
   border-radius: 10px;
}

.text-card-container {
   width: 100%;
   padding-left:4px;
}

.text-card-container a {
   text-decoration: none; 
   color: #0000FF;
}

.news-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   border-top: 2px solid #008000;
   border-bottom: 2px solid #008000;
   padding-top: 15px;
  }



@media (max-width: 1024px) {
    .news-card {
        width: 30%; 
    }
}

@media (max-width: 768px) {
    .news-card {
        width: 45%;
        word-wrap: break-word;
    }
}

article {
        font-size: 1rem;
        text-align: left; 
        padding: 10px; 
    }

    article img {
        max-width: 100%; 
        height: auto;
    }

    .flex-row-space-around {
        flex-direction: column; 
        align-items: center; 
    }

    .news-container {
        padding: 10px 0; 
        overflow-x: auto; 
    }
}
