@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h3{
    padding-bottom: 8px;
    text-align: center;
    font-size: 2.0rem;
    font-family: "roboto", "poppins", Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

article {
    padding-top: 10px; 
    padding-left: 20px;
    text-align: left;
    font-family: "roboto", "poppins", Arial, Helvetica, sans-serif;
}

article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px; 
    max-height: 300px;
}

#cms{
   width: 100%;
   height: auto;
}

p{
   padding-top: 10px; 
}


#list-news{
    padding-top: 10px;
    padding-left: 23px;
    font-style: italic;
}

h2{
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
}

.flex-row-space-around{
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.news-card {
   width: 20%;
   padding-top: 10px;
   border: 2px solid var(--light-green);
   border-radius: 10px;
   margin-bottom: 20px;
   margin-left: 10px;
   box-shadow: 2px 2px 4px var(--light-green);
}

.img-card-container {
   width: 98%;
   height: 200px;
   padding-bottom: 10px;
   padding-left:4px;
 }

.img-card-container img {
   width: 100%; 
   height: 100%;
   object-fit: cover; 
   border: 2px solid var(--light-green);
   border-radius: 10px;
   box-shadow: 2px 2px 4px var(--light-green);
}

.text-card-container {
   width: 100%;
   padding-left:4px;
}

.text-card-container a {
   text-decoration: none; 
   color: var(--dark-green);
}

.news-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   border-top: 2px solid var(--light-green);
   padding-top: 15px;
  }



@media (max-width: 1024px) {
    .news-card {
        width: 30%; 
    }
}

@media (max-width: 768px) {
    .news-card {
        width: 45%;
        word-wrap: break-word;
    }
}

article {
        font-size: 1rem;
        text-align: left; 
        padding: 10px; 
    }

    article img {
        max-width: 100%; 
        height: auto;
    }

    .flex-row-space-around {
        flex-direction: column; 
        align-items: center; 
    }

    .news-container {
        padding: 10px 0; 
        overflow-x: auto; 
    }
}
