/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Poppins', Arial, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--dark-green);
}

/* Estilos da seção principal */

main{   
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos da seção */

.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: auto;
}

section div {
    background-color: var(--light-green);
    padding: 20px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-right: 16px;
}

/* Estilos dos títulos */

h1{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
    color: var(--dark-green);
    padding: 15px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--dark-green);
    padding: 10px;
}

h3{
    font-size: 0.4;
    margin-bottom: 12px;
    text-align: center;
    color: var(--dark-green);
    padding: 15px;
}

h4{
    font-size: 0.8rem;
    margin-top: 18px;
    text-align: center;
    color: var(--dark-green);
    padding: 5px;
}


/* Estilos dos parágrafos */
p {
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-align: center;
}

/* Estilos das imagens */

.img {
    width: 100%;
    height: 130px;
 }

 /* Media Queries para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Estilos para telas menores */
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 0.7rem;
    }
    p {
        font-size: 0.7rem;
    }

    section div {
        width: 100%; /* Ocupa toda a largura em dispositivos pequenos */
    }

    /* Ajustes no menu e header */
    header {
        padding: 10px;
    }

    #logo-header {
        width: 100px; /* Tamanho menor para o logo */
        margin-right: 0;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    #menu-encolhido {
        display: block;
        font-size: 1rem;
    }

    #contato-nav {
        width: 100%;
        font-size: 1rem;
    }
}