@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('variaveis.css');
/* Estilos reutilizáveis em toda a página*/

*{ /*Definição inicial para todos os componentes*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", "poppins", Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--white);
    max-width: 100vw;
}

/* CLASSES REUTILIZÁVEIS */

.flex-row-center{/*Display flex linha*/
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.flex-row-space-around{
     display: flex ;
    align-items: center;
    justify-content: space-around ;
}
.flex-row-space-between{
     display: flex ;
    align-items: center ;
    justify-content: space-between ;
}
.flex-colunm-center{/*Display flex coluna*/
    display: flex ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column ;
}
.button-white{
    background-color: var(--white);
    color: var(--dark-green);
    transition: 0.5s;
}
.button-white:hover{
    background-color: var(--dark-green);
    color: var(--white);
}
.gap-2-vw{
    gap: 2vw;
}
.list-none{
    list-style: none;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-color-dark-green{
    background-color: var(--light-green);
}
.display-none{
    display: none;
}
.hover-up:hover{
   
}
.shadow{
       box-shadow: 0 0 4px 1px var(--dark-green);
}
.overlay-green-20op{
     background-color:var(--dark-green-20op);
}
/* HEADER */
#logo-header{
    width: 5vw;
}
header{
    padding: 0.4vw 1.5vw;
    max-width: 100vw;
}

nav ul li a{
    text-decoration: none;
    color: var(--dark-green);
    transform: 0.5s;
    font-size: 1.5vw;
}
nav ul li a:hover{
    color: var(--white);
    transform: translateY(-5px);
}
nav ul li:hover{

    transform: translateY(-5px);
}
#contato-nav{
    width: 6vw;
    height: 2.7vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    font-size: 1.1vw ;
}
#contato-nav:hover{
    transform: translateY(-5px);
}


/* FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  max-width: 100vw;
  background-color: var(--light-green);
}
#footer-logo{
    width: 5vw;
}
footer p {
    color: var(--black) !important;
    font-size: 1.6vw;
}

@media only screen and (max-width: 900px) {

/* CELULARES - NAV BAR - FOOTER */
    header nav,
    header ul{
        flex-direction: column;
       
    }
   
    nav ul li a{
        font-size: 2.5vw;
    }
   #contato-nav{
    width: 15vw !important;
    margin-bottom: 2vw;
    height: 5vw;
    font-size: 2vw;
    text-decoration: none;
    background-color: var(--black);
    color: var(--light-green);
   }
    #logo-header{
        width: 14vw;
    }
    .menu-header-hide{
         display: none;
    }
    #menu-encolhido
    {
    display: block;
    font-size:1.7vw;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    header nav button{
        width: 50vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background-color: var(--black);
        color: var(--light-green);
        border-radius: 2vw;
        outline: none;
        border: none;
       
    }
    header nav button i,
    header nav button span
   
    {
       font-size: 4.5vw;
       
    }
}