
/* Estilos reutilizáveis em toda a página*/
:root { /*Variáveis - paleta de cores*/
  --white: #f0f8ff;
  --black: #0f0f0f;
  --dark-green: #295546;
  --light-green: #70DAAA;
}
*{ /*Definição inicial para todos os componentes*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-row-center{/*Display flex linha*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.flex-colunm-center{/*Display flex coluna*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

