@import url('variaveis.css');
/* Estilos reutilizáveis em toda a página*/

*{ /*Definição inicial para todos os componentes*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CLASSES REUTILIZÁVEIS */

.flex-row-center{/*Display flex linha*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.flex-row-space-around{
     display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}
.flex-row-space-between{
     display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.flex-colunm-center{/*Display flex coluna*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}
.button-white{
    background-color: var(--white);
    color: var(--dark-green);
    transition: 0.5s;
}
.button-white:hover{
    background-color: var(--dark-green);
    color: var(--white);
}
.gap-2-vw{
    gap: 2vw;
}
.list-none{
    list-style: none;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-color-dark-green{
    background-color: var(--light-green);
}
.display-none{
    display: none;
}
.hover-up:hover{
    transform: translateY(-5px);
}
.shadow{
       box-shadow: 0 0 4px 1px var(--dark-green);
}
/* HEADER */
#logo-header{
    width: 5vw;
}
header{
    padding: 0.4vw 1.5vw;
}

nav ul li a{
    text-decoration: none;
    color: var(--dark-green);
    transform: 0.5s;
    font-size: 1.5vw;
}
nav ul li a:hover{
    color: var(--white);
}
#contato-nav{
    width: 6vw;
    height: 2.7vw;
    border: none;
    border-radius: 1vw;
    font-size: 1.1vw ;
}

/* FOOTER */

#footer-logo{
   height: 100px;
   width: 120px;      
   padding-top: 30px;   
   float: left;
}

#copyright{
   float: right;
   padding-bottom: 20px  
} */

.container {
    max-width: 100%;
    overflow: hidden;
}

.news {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    padding-left: 40px
}

.img {
    width: 50%;
    
}


