:root { /*Variáveis - paleta de cores*/
  --white: #f0f8ff;
  --black: #0f0f0f;
  --dark-green: #295546;
  --dark-green-20op: rgba(41, 85, 70,20%);
  --light-green: #70DAAA;
  --light-green-2: #2CC762;
  --yellow: #fdff00;
}